.xfce4-panel {
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

wnck-pager:selected {
background-color: #FF0000; }
wnck-pager:hover {
background-color: gray; }

